h1{
    font-family:'Libre Baskerville', serif;
    text-transform: uppercase;
    
}
html{
    background-color: black;
    color: white;
    text-align: center;
}
img{
    width:100%;
    border:5px solid white ;
}
#the-person{
   font-size: small;
   font-family:'Dancing Script', cursive;;
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}